<!-- TODO: make the footer a 3 column responsive layout -->
<div class="container-fluid my-5" style="margin-bottom: 10px;">
<footer class="bg-dark text-center text-white footer fixed-bottom" >
  <div class="container-fluid p-4">
    <section class="container-fluid footer">

      <div class="row">
        <div class="col-4">
          <h5 class="text-uppercase">About</h5>

          <ul class="list-unstyled mb-0">
            <li><a class="text-white" href="#">Learn More</a></li>
            <li><a class="text-white" href="#">People</a></li>
            <li><a class="text-white" href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-4">
          <h5 class="text-uppercase">Resources</h5>

          <ul class="list-unstyled mb-0">
            <li><a class="text-white" href="#">Docs</a></li>
            <li><a  class="text-white" href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-4">
          <h5 class="text-uppercase">Contact</h5>

          <ul class="list-unstyled mb-0">
            <li><a class="text-white" href="#">Help</a></li>
            <li><a class="text-white" href="#">Sales</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>
</div>
